body {
  font-family: "Source Serif Pro", serif;
  padding: 50px;
  max-width: 900px;
  align-items: center;
  margin: 0 auto;
}

.card {
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 0px;
}
h4 {
  font-size: 20px;
}
.small {
  font-size: 20px;
}

.units {
  font-size: 20px;
}

.github {
  padding: 19px;
}

.units .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.units .active:hover {
  text-decoration: none;
}

.date {
  font-weight: bold;
}

.card-title {
  padding-bottom: none;
  text-align: center;
}

.card-body {
  padding: none;
}

.weather-temperature {
  text-align: center;
  font-size: 16px;
}
